<nav class="navbar navbar-expand-lg custom-navbar shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center gap-2" href="/">
      <img src="/images/logo.jpg" alt="Logo" width="40" height="40" class="rounded-circle border border-2 border-warning" style="object-fit:cover;">
      <span class="fw-bold site-title">Blogify</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <% if (locals.user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/blog/add-new">Add Blog</a>
          </li>
        <% } %>
        <% if (!locals.user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/user/signup">Create Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/signin">Signin</a>
          </li>
        <% } %>
        <% if (locals.user) { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= locals.user.fullName %>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/user/logout">Log out</a></li>
            </ul>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-4">
  <% if (locals.error) { %>
    <div class="alert alert-danger" role="alert">
      <%= locals.error %>
    </div>
    <% } %>
</div>